body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#10416b, black); 
    margin: 0;
    height: 100%;
}

.eu{
    border-radius: 50%;
    height: 50%;
    border: 3px solid #7c87ff;
    margin-top: 10%;
    margin-bottom: 5%;
}

.eu:hover{
    border: 3px solid #8563e2;
    transition: 0.2s;
    cursor: pointer;
}

.eu:not(:hover){
    border: 3px solid #7c87ff;
    transition: 0.3s;
}

.descriere{
    color: azure;
    font-family: 'Roboto Slab', serif;
    font-size: 21px;
    text-shadow: 3px 2px 2px rgba(192, 137, 255, 0.452);
}



.location,.languages{
    margin-top: 5%;
}

.selector{
    color: rgb(218, 199, 97);
}

.proprietate{
    color: #9cdcfe;
}

span{
    display: flex;
    color:#ce9178;
}
.alb{
    color: white;
}

.ab{
    margin-right: 2%;
    color: white;
}

.sm{
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    margin-top: 3%;
}

.fa-brands, .fa-solid{
    color: antiquewhite;
    font-size: 70px;
    margin-left: 10px;
}

.tc{
    display: flex;
    justify-content: center;
}

.proiecte{
    width: 50%;
}

.imagineproiect{
    height: 150px;
    width: 290px;
    border-radius: 20px;
    border: 3px solid gray;
}

.imagineproiect:hover{
    border: 3px solid #8563e2;
    transition: 0.5s;
    cursor: pointer;
}

.imagineproiect:not(:hover){
    border: 3px solid gray;
    transition: 0.5s;
}


.proiecte{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textinainte{
    font-family: 'Roboto Slab', serif;
    color: white;
    text-shadow: 3px 2px 2px rgba(192, 137, 255, 0.452);
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 1%;
}

.textdupa{
    color: white;
    text-shadow: 3px 2px 2px rgba(192, 137, 255, 0.452);
    margin-top: 2%;
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
}

#trei{
    margin-left: 14px;
}

#primadesc{
    margin-top: 10%;
}

.contact{
    color: white;
    text-shadow: 3px 2px 2px rgba(192, 137, 255, 0.452);
    margin-top: 2%;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    margin-bottom: 2%;
}

.linkedin, .mail, .phone{
    display: flex;
    justify-content: start;
    align-items: center;
}

.linkedin:hover{
    cursor: pointer;
}
.fa-linkedin, .fa-envelope,.fa-phone{
    margin-right: 5%;
}

i{
    margin-top: 3%;
}